@page "/about"

<h1>关于</h1>

<p>
    请谨慎对待本软件的结果，本软件作者及参与方对因本软件错误信息导致的不能出行、滞留等不利情况概不负责。<br>
    有什么不对的请在 GitHub 开 Issue。<br>
    <br>
    Repo 地址：<br>
    <a href="https://github.com/karakasa/PcrCalculator">https://github.com/karakasa/PcrCalculator</a><br>
    <br>
    采用 MIT 授权：<br>
    Copyright 2020 Karakasa, Zichuan Wang<br>
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br>
    <br>
    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.<br>
    <br>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br>
</p>