@page "/"
@using MatBlazor
@using PcrCalculatorLib
@using TimeZoneNames

<h1>行程规划（美国出发简易版）</h1>
<hr>
<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-warning mr-2" aria-hidden="true"></span>
    <strong>本工具仅供参考，可能会由于政策时常变化、核酸码审核地领事馆特殊政策等产生不同的结果。</strong>

    <span class="text-nowrap">
        使用前请务必查看
        <a target="_blank" class="font-weight-bold" href="source">数据来源</a>
    </span>
    <span class="text-nowrap">
        和
        <a target="_blank" class="font-weight-bold" href="about">关于</a>
    </span>
    页面。
</div>
<br>
<br>
    <p>最终回国航班（比如 底特律-东京-上海，则填写 东京与东京当地的出发时间 段，比如 洛杉矶-广州，则填写 洛杉矶与洛杉矶当地的出发时间 段）：</p>

        <hr>
        <label for=@("deptAirport")>出发机场</label>
        <select id=@("deptAirport") @bind="@deptAirport">
            @for (int i = 0; i < AirportNames.Length; i++)
            {
                <option value="@i">@AirportNames[i]</option>
            }
        </select>
        <br>
        <br>
        <p>当地出发时间</p>
        <MatDatePicker @bind-Value="deptTime" EnableTime="true"></MatDatePicker>
        <br>
        <br>
        <br>

    <hr>
    <br>
    <br>
    <button class="btn btn-primary" @onclick="getResult">显示结果</button>
    <br>
    <br>
    <hr>
    @foreach (var message in result)
    {
        <p>@message</p>
    }

@code {
    private DateTime? deptTime;
    private string deptAirport;

    private string resultState = "";
    private List<string> result = new List<string>();

    private string[] AirportNames
    {
        get
        {
            if (AirportDataset.AirportNames == null)
                AirportDataset.LoadData();
            return AirportDataset.AirportNames;
        }
    }


    void getResult()
    {
        if(string.IsNullOrEmpty(deptAirport) || !deptTime.HasValue)
        {
            result = new List<string>() { "输入数据不正确。" };
            return;
        }

        result = new List<string>();
        resultState = "";
        var trip = new TripCheck();
        AddSegment(trip, deptAirport, deptTime.Value);

        trip.CheckSimple();
        result = trip.Messages;
    }

    private void AddSegment(TripCheck trip, string departAirport, DateTime depart)
    {
        var departTime = depart.ToLocalTime();

        departTime = DateTime.SpecifyKind(departTime, DateTimeKind.Unspecified);

        trip.SetSegmentSimple((String.IsNullOrEmpty(departAirport) || departAirport == "0") ? "?" : AirportDataset.Airports[Int32.Parse(departAirport)].Code, departTime);
    }
}