@page "/source"

<h1>数据来源</h1>
<br>
<h4>回国航班总结</h4>
<p>
    【综合帖】湖北解禁！北美->中国内地 直飞航班与转机地总结 – 9/16更<br>
    <a href="https://piao.tips/flying_china_20200313/">https://piao.tips/flying_china_20200313/</a><br>
    <br>
    新冠疫情下，如何回国：中美直飞航班&转机方案总结<br>
    <a href="https://www.uscreditcardguide.com/xinguanyiqingzhixiaruhehuiguo/">https://www.uscreditcardguide.com/xinguanyiqingzhixiaruhehuiguo/</a><br>
</p>
<br>
<h4>核酸检测相关</h4>
<p>
    实施凭核酸检测阴性证明登机的常见问题解答<br>
    <a href="http://www.china-embassy.org/chn/lszj/zytz/t1813257.htm">http://www.china-embassy.org/chn/lszj/zytz/t1813257.htm</a><br>
    <br>
    驻洛杉矶总领馆核酸检测常见问答（有有关转机核酸码时效的详细解答）<br>
    <a href="http://losangeles.china-consulate.org/chn/lbyj/t1814030.htm">http://losangeles.china-consulate.org/chn/lbyj/t1814030.htm</a><br>
    <br>
    【每日更新】常见要求核酸码中转国（09/08更新欧洲转机三日核酸全覆盖）<br>
    <a href="https://forum.uscreditcardguide.com/t/topic/7485">https://forum.uscreditcardguide.com/t/topic/7485</a><br>
</p>
<br>
<h4>行李托运&转机相关</h4>
<p>
    疫情期间回国非联程机票常见问题之直挂行李和小机场出发<br>
    <a href="https://www.uscreditcardguide.com/yiqingqijianhuiguofeilianchengjipiaochangjianwentizhizhiguaxinglihexiaojichangchufa/">https://www.uscreditcardguide.com/yiqingqijianhuiguofeilianchengjipiaochangjianwentizhizhiguaxinglihexiaojichangchufa/</a><br>
    <br>
    【千年老问题】我的行李在哪儿取？能直挂吗？行李直挂问答<br>
    <a href="https://piao.tips/baggage_transfer/">https://piao.tips/baggage_transfer/</a><br>
    <br>
    【票帝指南】新加更多重点机场！转机时间够不够？常见机场最低转机时间<br>
    <a href="https://piao.tips/minimum-connection-time-mct/">https://piao.tips/minimum-connection-time-mct/</a><br>
    <br>
    【票帝指南】我在小机场被拦下了怎么办？<br>
    <a href="https://piao.tips/how_to_deal_with_small_airport/">https://piao.tips/how_to_deal_with_small_airport/</a><br>
</p>
<br>
<h4>其他</h4>
<p>
    各种被隔离 DP 等。<br>
</p>